* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 104.44rem;
  min-height: 64rem;
  font-family: Space Grotesk, sans-serif;
}

/* NAV */
nav {
  display: flex;
  margin: 0.5px 0 50px 0;
  background-color: #6a1039;
  max-width: 100%;
  min-height: auto;
  padding: 15px;
  border-radius: 5px;
}
nav a {
  color: #ddd;
  font-weight: 700;
  font-size: 20px;
}
nav a:hover {
  background-color: #b1a3a3;
  padding: 5px;
}

nav .page1,
nav .page2 {
  margin-left: 20px;
  text-decoration: none;
  color: #ddd;
  font-size: 20px;
}
nav .current {
  background-color: #815555;
}

/* SIDE MENU */
.side_menu {
  max-width: 14.44rem;
  min-height: 64rem;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.side_menu .logo {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-left: 10px;
}

.side_menu .logo .logo_name {
  position: absolute;
  left: 60px;
  top: 12px;
  font-family: Space Grotesk, sans-serif;
  font-size: 28px;
  font-weight: 700;
  padding-left: 3px;
}

.side_menus {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 40px 0 0 0;
  font-family: Avenir, sans-serif;
  font-size: 15px;
}

.side_menus .dashboard {
  display: flex;
  flex-direction: row;
  margin: 4px 0 4px 10px;
  padding-bottom: 2px;
}

.side_menus .roles {
  display: flex;
  flex-direction: row;
  margin: 2px 0 4px 10px;
  padding-bottom: 2px;
}

.side_menus .employees {
  display: inline-block;
  position: relative;
  margin: 8px 0 4px 10px;
}
.side_menus .employees-img {
  position: absolute;
  left: 8px;
  top: 5px;
}
.side_menus .employees-p {
  position: absolute;
  left: 34px;
  top: 4px;
}

.side_menus .payroll {
  display: flex;
  flex-direction: row;
  margin: 25px 0 4px 10px;
  padding-bottom: 2px;
}
.side_menus .payroll-img {
  margin-top: 20px;
}

.side_menus .reports,
.side_menus .settings {
  display: flex;
  flex-direction: row;
  margin: 10px 0 4px 10px;
  padding-bottom: 5px;
}

.side_menus .logout-img {
  position: absolute;
  display: flex;
  bottom: -570px;
  left: 25px;
}

/* CENTER MENU */
.center_menu {
  max-width: 90rem;
  min-height: 64rem;
  display: flex;
  flex-direction: row;
  margin-top: -62.5rem;
  position: relative;
}

.center_menu .search {
  display: flex;
  position: absolute;
  right: 0;
  top: 12px;
  left: 350px;
}
.center_menu .search .search-paragraph {
  padding-left: 10px;
}
.center_menu .menu_setting_img {
  display: flex;
  position: absolute;
  top: 12px;
  right: 100px;
}

.center_menu .menu_notification-img {
  display: flex;
  position: absolute;
  top: 12px;
  right: 60px;
}

.center_menu .menu_photo-img {
  display: flex;
  position: absolute;
  top: 0;
  right: -5px;
}

/* CARD HEADER */
.card_header {
  max-width: 90rem;
  min-height: 64rem;
  display: flex;
  flex-direction: row;
  margin-top: -58.5rem;
  position: relative;
}

.card_header .roles_p {
  display: flex;
  position: absolute;
  right: 0;
  top: -5px;
  left: 350px;
}

.card_header .help_icon {
  display: flex;
  position: absolute;
  right: 0;
  top: -3px;
  left: 405px;
}

.card_header .assign {
  display: flex;
  position: absolute;
  top: -3px;
  right: 125px;
}

.card_header .new_role {
  display: flex;
  position: absolute;
  top: -3px;
  right: -5px;
}

/* HORIZONTAL TAB */
.horizontal_tab {
  max-width: 90rem;
  min-height: 64rem;
  display: flex;
  flex-direction: row;
  margin-top: -58.5rem;
  position: relative;
}

.horizontal_tab .all_roles {
  display: flex;
  position: absolute;
  right: 0;
  top: -20px;
  left: 350px;
  color: #6a1039;
  font-weight: 550;
}

.horizontal_tab .permissions {
  display: flex;
  position: absolute;
  right: 0;
  top: -20px;
  left: 440px;
}

/* SEARCH AND FILTER */
.search_filter {
  max-width: 90rem;
  min-height: 64rem;
  display: flex;
  flex-direction: row;
  margin-top: -58.5rem;
  position: relative;
}

.search_filter .search_filter-search {
  display: flex;
  position: absolute;
  right: 0;
  top: -50px;
  left: 350px;
}
.search_filter .search_filter-search-paragraph {
  padding-left: 10px;
}

.search_filter .filter_button {
  display: flex;
  position: absolute;
  top: -75px;
  right: 80px;
}

.search_filter .button_base-icon {
  display: flex;
  position: absolute;
  top: -38px;
  right: 15px;
}

.search_filter .filter_icon2 {
  display: flex;
  position: absolute;
  top: -75px;
  right: -15px;
}

/* HORIZONTAL TAB2 */
.horizontal_tab2 {
  max-width: 90rem;
  min-height: 64rem;
  display: flex;
  flex-direction: row;
  margin-top: -62rem;
  position: relative;
}

.horizontal_tab2 .all_roles {
  display: flex;
  position: absolute;
  right: 0;
  top: -20px;
  left: 350px;
  color: #6a1039;
  font-weight: 550;
}

.horizontal_tab2 .product {
  display: flex;
  position: absolute;
  right: 0;
  top: -20px;
  left: 440px;
}

.horizontal_tab2 .engineering {
  display: flex;
  position: absolute;
  right: 0;
  top: -20px;
  left: 510px;
}

.horizontal_tab2 .marketing {
  display: flex;
  position: absolute;
  right: 0;
  top: -20px;
  left: 615px;
}

.horizontal_tab2 .recruitment {
  display: flex;
  position: absolute;
  right: 0;
  top: -20px;
  left: 710px;
}

.horizontal_tab2 .sales {
  display: flex;
  position: absolute;
  right: 0;
  top: -20px;
  left: 815px;
}

.horizontal_tab2 .customer_service {
  display: flex;
  position: absolute;
  right: 0;
  top: -20px;
  left: 870px;
}

/* MAIN SECTION */
.main_section {
  max-width: 90rem;
  min-height: 64rem;
  display: flex;
  flex-direction: row;
  margin-top: -56rem;
  position: relative;
}

.divider_icon {
  display: flex;
  position: absolute;
  top: -100px;
  right: -18px;
}

.main_section-img {
  display: flex;
  position: absolute;
  top: -75px;
  right: -18px;
}
