<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AERTEN WEB</title>
    <link rel="stylesheet" href="../css/page2.css" />
    <link rel="icon" href="../images/logo.svg">
</head>
<body>
    <header>
        <nav>
            <ul>
                <a href="../index.html" class="page1">Page 1</a>
                <a href="../views/page2.html" class=" page2 current">Page 2</a>
            </ul>
          </nav>

          <!-- SIDE MENU -->
    <div class="side_menu">
        <div class="logo">
          <img src="../images/logo.svg" alt="Logo" class="logo" />
          <h1 class="logo_name">Aerten</h1>
        </div>

        <div class="side_menus">
          <div class="dashboard">
            <img src="../images/dashboard_icon.svg" alt="dashboard icon" />
            <p class="dashboard">Dashboard</p>
          </div>

          <div class="roles">
            <img src="../images/roles_icons.svg" alt="roles icon" />
          </div>

          <div class="employees">
            <img src="../images/page2_employee_icon.svg" alt="employees icon" class="employees-img"/>
            <p class="employees-p">Employees</p>

          <div class="payroll">
            <img src="../images/payroll-img.svg" alt="payroll icon" class="payroll-img"/>
            <p class="payroll">Payroll</p>
          </div>
          <div class="reports">
            <img src="../images/reports_img.svg" alt="reports icon" />
            <p class="reports">Reports</p>
          </div>
          <div class="settings">
            <img src="../images/settings_icon.svg" alt="settings icon" />
            <p class="settings">Settings</p>
          </div>
          </div>

          <div class="logout">
            <img src="../images/logout-icon.svg" alt="" class="logout-img">
        </div>
      </div>
    </header>

    <main>
        <!-- CENTER MENU -->
     <div class="center_menu">
        <div class="search">
          <img src="../images/menu_search-img.svg" alt="Search icon" class="search_icon" />
          <p class="search-paragraph">Search anything here</p>
        </div>
        <div class="menu_setting_img">
          <img
            src="../images/menu_setting-img.svg"
            alt="menu setting"
            class="search_icon"
          />
        </div>
        <div class="menu_notification-img">
          <img
            src="../images/menu_notification-img.svg"
            alt="menu notification"
            class="menu_notification-img_icon"
          />
        </div>
        <div class="menu_photo-img">
          <img
            src="../images/menu_photo-img.svg"
            alt="menu photo"
            class="menu_photo-img"
          />
        </div>
      </div>

      <!-- CARD HEADER -->
      <div class="card_header">
        <h3 class="roles_p">Roles</h3>

        <div class="help_icon">
          <img src="../images/Help_icon.svg" alt="Help icon" class="help_icon-img">
          <p class="help_icon-100" style="background-color: #ddd; color: #6A1039; margin-left: 5px;">123</p>
        </div>

        <div class="assign">
          <img src="../images/Assign_btn.svg" alt="Assign Button">
        </div>

        <div class="new_role">
          <img src="../images/New_role-btn.svg" alt="New Role Button">
        </div>
      </div>

      <!-- HORIZONTAL TAB -->
      <div class="horizontal_tab">
        <div class="all_roles">
          <p class="all_roles-p">All Roles</p>
        </div>
        <div class="permissions">
          <p class="permissions-p">Permissions</p>
        </div>
      </div>

      <!-- SEARCH AND FILTER -->
      <div class="search_filter">
        <div class="search_filter-search">
          <img src="../images/menu_search-img.svg" alt="" class="search_icon" />
          <p class="search_filter-search-paragraph">Search Roles by Title, Teams or any related keywords</p>
        </div>

        <div class="filter_button">
          <img src="../images/filter_button_icon.svg" alt="Filter button" class="filter_button-icon">
        </div>
        <div class="button_base-icon">
          <img src="../images/button_base_icon.svg" alt="Button base" class="button_base-icon">
        </div>
        <div class="filter_icon2">
          <img src="../images/filter_icon2.svg" alt="Filter icon" class="filter_icon2-icon">
        </div>
      </div>

      <!-- HORIZONTAL TAB 2 -->
      <div class="horizontal_tab2">
        <div class="all_roles">
          <p class="all_roles-p">All Roles</p>
        </div>
        <div class="product">
          <p class="product-p">Product</p>
        </div>
        <div class="engineering">
          <p class="engineering-p">Engineering</p>
        </div>
        <div class="marketing">
          <p class="marketing-p">Marketing</p>
        </div>
        <div class="recruitment">
          <p class="recruitment-p">Recruitment</p>
        </div>
        <div class="sales">
          <p class="sales-p">Sales</p>
        </div>
        <div class="customer_service">
          <p class="customer_service-p">Customer Service</p>
        </div>
      </div>

      <!-- MAIN SECTION -->
      <div class="main_section">
        <img src="../images/divider_icon.svg" alt="Divider icon" class="divider_icon">

        <img src="../images/page2_main_section-img.svg" alt="Main Section Image" class="main_section-img"> 
      </div>
    </main>
</body>
</html>